.faq {
    padding: 112px 0;

    @media (max-width: 767px) {
        padding: 56px 0 40px;
    }
}

.custom-accordion {
    max-width: 736px;
    margin: 0 auto;

    .card {
        border: none;
        border-radius: 0;
        margin-bottom: 16px;

        .card-header {
            margin-bottom: 0;
        }
    }

    .card-header {
        border: none;
        background-color: $brand-blue-light;
        padding: 0;

        .btn-link {
            display: block;
            width: 100%;
            text-align: left;
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
            font-family: $PTS;
            text-decoration: none;
            padding: 24px 50px 24px 24px;
            background-color: $brand-red;
            border-radius: 0;
            color: #fff;
            position: relative;
            letter-spacing: 0.5px;
            transition: 0.25s ease-in-out;

            .icons {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;

                svg {
                    fill: #fff;
                }

                .icon-plus {
                    display: none;
                }

                @media (max-width: 767px) {
                    right: 14px;
                }
            }

            @media (max-width: 767px) {
                padding: 24px 40px 24px 24px;
            }
        }

        .collapsed {
            background-color: $brand-blue-light;
            color: $text-base;

            .icons {
                svg {
                    fill: #aaa;
                    transition: 0.25s ease-in-out;
                }

                .icon-plus {
                    display: inline-block;
                }

                .icon-minus {
                    display: none;
                }
            }

            &:hover {
                color: $brand-red;
                svg {
                    fill: $brand-red;
                }
            }
        }
    }

    .card-body {
        background-color: $brand-blue-light;
        font-size: 16px;
        font-family: $OPS;
        line-height: 26px;
        padding: 24px 38px 24px 24px;
    }
}