.discount-wrapper {
    height: 556px;
    background-image: url(../img/discount.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 112px;
    margin-left: 80px;

    @media (max-width: 1199px) {
        margin-left: 0;
    }

    @media (max-width: 767px) {
        height: auto;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 56px;
        display: block;
        background-size: 220%;
        padding-top: 140px;
    }
}

.discount {
    background-color: #F3F6FB;
    max-width: 608px;
    margin-left: -95px;

    &__title {
        font-size: 36px;
        line-height: 48px;
        font-family: $PTS;
        font-weight: 700;
        margin-bottom: 24px;
        letter-spacing: 1.2px;

        @media (max-width: 767px) {
            margin-bottom: 16px;
        }
    }

    &__body {
        padding: 40px 50px 0;

        @media (max-width: 767px) {
            padding: 32px 24px 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        margin-top: 24px;
        font-size: 14px;
        color: #999999;

        .icon-info-circled {
            transform: translateY(1px);
            display: inline-block;
        }

        @media (max-width: 767px) {
            padding: 0;
        }
    }

    &__info {
        @media (max-width: 767px) {
            display: none;
        }
    }

    .btn-danger {
        width: 100%;
        max-width: 288px;

        @media (max-width: 767px) {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    @media (max-width: 1199px) {
        margin-left: 0;
    }
}

