.map {
    margin-top: 81px;
    margin-bottom: 107px;
    width: 100%;

    @media (max-width: 767px) {
        margin-top: 56px;
        margin-bottom: 56px;
        padding: 0 15px;
    }
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    overflow: hidden;
}