.page-wrapper {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1150px;
}

.primary-link {
    color: $brand-red;
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $brand-red;
        text-decoration: none;
        border-color: $brand-red;
    }
}

.link-border-primary {
    border-bottom: 1px solid rgba(226, 62, 87, 0.4);
    line-height: 1.2;

}

.full-right {
    margin-right: calc((1135px - 100vw) / 2);
}