//vertical offset
$i: 20;

@while $i > -1 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  $i: $i - 1;
}

.font-semibold {
    font-weight: 600;
}


.text-underline {
    text-decoration: underline;
}

.text-small {
  font-size: 12px;
  color: #999;
  line-height: 1;
  transform: translateY(1px)
}

.reset-margin-mobile {
  @media (max-width: 767px) {
    margin: 0;
  }
}